## Core latex/pdflatex auxiliary files:
*.aux
*.bbl
*.blg
*.log

##Build tool auxiliary files:
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# IDE stuffs
CMakeLists.txt
.idea/
bin/
cmake-build-debug/

# atom
.build-tools.cson
